body {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #FFFFFF;
  color: #434455
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav {
  display: flex;
  align-items: center;
  /* gap: 76px; */
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin: 0;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link :focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  background-color: #404bbf;
  border-radius: 2px;
  /* width: 48px; */
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contact-info {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px
}

.contact-item {}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* font-style: normal; */
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.main-content {}

.hero {
  padding: 188px 0;
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px;
  /* margin-bottom: 48px; */
  max-width: 496px;
}


.hero-button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.studio {}

.studio-title {}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.studio-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.studio-item {
  width: 264px;
}

.studio-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  padding: 24px;
  height: 112px;
  margin-bottom: 8px;
}

.studio-icon-svg {
  align-items: center;
}

.studio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.studio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-item-box {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.team-social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-item {}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.portfolio {}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  background: #4D5AE5;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-item:hover .overlay-portfolio-text {
  transform: translateY(0);
}

.portfolio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;

}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-img {}

/* footer  */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-goal {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px
}

.footer-span {
  display: inline-block;
  color: #f4f4fd;
}


.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-title,
.footer-form-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-social {
  width: 208px;
  margin-right: 80px;
}

.media-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-item-link:hover,
.media-item-link:focus {
  background-color: #31d0aa;
}

.media-item-svg {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-submit {
  max-width: 453px;
  height: 80px;
}

.footer-form-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}

.footer-form-icon {
  margin-left: 16px;
  top: 8px;
  right: 24px;
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-top: 8px;
  padding-left: 16px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.foter-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}


/* modal */
.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  left: 0;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal-close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  min-width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-btn-icon,
.modal-close-btn:focus .modal-btn-icon {
  fill: #fff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {}

.modal-name {}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-box {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-feald {
  margin-bottom: 8px;
}

.modal-input-info {
  display: inline-block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 11px 38px;
  color: #8e8f99;
}

.modal-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input-info:focus {
  border-color: #4d5ae5;
}


.modal-input-info:focus+.modal-svg {
  fill: #4d5ae5;
}

.modal-input-info::placeholder {
  color: #4d5ae5;
}

.modal-submit-btn {
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  background: #4d5ae5;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-textarea {
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #8e8f99;
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.agreement-checkbox-icon {
  fill: #fff;
}

.checkbox-style {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}


.agreement-checkbox:checked+.modal-form-agreement .checkbox-style {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}